<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=pageTitle%></title>
</head>
<body>
    <main>
        <form  action="/user/updatePassword" method="POST">
            <div class="form-control">
                <label for="password">Existing Password</label>
                <input type="text" name="password" id="password" >
            </div>
            <div class="form-control">
                <label for="newpassword">New Password</label>
                <input type="text" name="newpassword" id="newpassword" >
            </div>

            <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>